---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>👋 Hello</p>
		<p>
			I'm a professional software engineer, passionate about crafting top-notch online experiences.
			I specialize in frontend web development, with a solid command of the Angular framework.
		</p>
		<p>
			However, my expertise doesn't stop there. I'm well-versed in backend technologies, rigorous
			testing methodologies, and a diverse range of frameworks and architectural approaches.
		</p>
	</div>
</PageLayout>
